@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
font-family: "Fira Sans", sans-serif; 
font-family: "PT Serif", serif; 
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background-color: black;
}

button:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "PT Serif", serif;
    font-size: 1.3em;
}

header {
    background-color: #B8B8B8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.bottomHeaderButtons,
.bottomHeaderButtons {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.myLogo {
    margin: 10px;
}

.myLogo>img {
    width: 75px;
    height: 75px;
}

footer {
    background-color: #B8B8B8;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerButton {
    margin: 10px;
}

.footerImages>img {
    width: 75px;
    height: 75px;
}

.footerColumnsContact,
.footerColumnsGithub,
.footerColumnsGmail,
.footerColumnsLinkedIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-size: small;
}

a {
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 50%;
}

.textBox,
.forumSubmit {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: black;
    background-color: #1DFF4F;
    box-shadow: 15px 15px #A30BC2;
    padding: 10px;
}

.forumSubmit {
    margin-bottom: 30px;
}

.twobox,
.onebox {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.skillBox {
    display: flex;
    justify-content: center;
    width: 50%;
}

.skillMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twoboxRev {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;

}

.textBox>h3,
.textBox>p {
    padding-bottom: 10px;
}

.textBox>button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.imageBox>img {
    height: 100px;
    width: 100px;
}

.welcomeBox>.imageBox>img {
    height: 160px;
    width: 110px;
    background-color: #12BF38;
    box-shadow: 15px 15px #7F0498;
}

.welcomeBox>.imageBox {
    margin-left: 35px;
}

.writingBox>.imageBox>img {
    height: 150px;
    width: 135px;

}

.writingBox>.imageBox {
    margin-right: 35px;
}

.programmingBox>.imageBox>img {
    height: 160px;
    width: 240px;

}

.programmingBox>.imageBox {
    margin-left: 35px;
}

.gameDesignBox>.imageBox>img {
    height: 185px;
    width: 185px;

}

.gameDesignBox>.imageBox {
    margin-right: 35px;
}

.resumeBox>.imageBox>img {
    height: 145px;
    width: 115px;
}

.resumeBox>.imageBox {
    margin-right: 35px;
}

.aboutBox>.imageBox>img {
    height: 165px;
    width: 125px;
}

.aboutBox>.imageBox {
    margin-left: 35px;
}

.overview {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}



.programmingSkillBox>.buttonBox>button,
.gameDesignSkillBox>.buttonBox>button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 10vw;
    height: 6vh;
    font-size: large;
}

.writingSkillBox {
    display: flex;
    width: 758px;
    justify-content: center;
}

.writingExampleReady,
.writingExampleLouie {
    display: flex;
    justify-content: center;
    width: 1000px;
}

.writingSkillBox>.buttonBox>button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 10vw;
    height: 6vh;
    background-color: black;
    color: white;
    font-size: large;
}

.whole {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whole>button {
    width: 15vw;
    font-size: larger;
    height: 7vh;
    margin-top: 30px;
}

.gameDesignSkillBox,
.programmingSkillBox {
    display: flex;
    justify-content: center;
}

.gameDesignSlides {
    width: 1035px;
    height: 581px;
}

.mario-Cliff {
    background-size: cover;
    background-image: url(/images/mario-cliffs.jpg);
}

.mario-Block {
    background-size: cover;
    background-image: url(/images/mario-block.jpg);
}

.mario-Blank {
    background-size: cover;
    background-image: url(/images/mario-blank.jpg);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;

}

@keyframes fade {
    from {
        opacity: .4;

    }

    to {
        opacity: 1;
    }
}

.js {
    background-size: cover;
    background-image: url(/images/snapedit_1715294495693-removebg-preview.png);
}

.html {
    background-size: cover;
    background-image: url(/images/html.png);
}

.css {
    background-size: cover;
    background-image: url(/images/css.png);
}

.trio {
    background-size: cover;
    background-image: url(/images/trio.png);
}

.codeImages {
    width: 435px;
    height: 500px;
}

.JPABox,
.EECUBox,
.KnightBox,
.DinoBox {
    display: flex;
    flex-direction: column;
}

.JPABox>.imageBox,
.EECUBox>.imageBox,
.KnightBox>.imageBox,
.DinoBox>.imageBox {
    margin-top: 30px;
}

.JPABox>.imageBox>img {
    height: 49vh;
    width: 49vw;
}

.EECUBox>.imageBox>img {
    height: 49vh;
    width: 49vw;
}

.KnightBox>.imageBox>img {
    height: 45vh;
    width: 45vw;
}

.DinoBox>.imageBox>img {
    height: 45vh;
    width: 45vw;
}

.thankYouButtons {
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: 640px;
    background-color: #1DFF4F;
    box-shadow: 15px 15px #A30BC2;
}

.thankYou {
    display: flex;
    flex-direction: column;
}

.thankYouButtons>button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 10vw;
    height: 6vh;
    font-size: large;
}

.forumSubmit>form>p {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-evenly;
}

input[type="text"],
input[type="email"] {
    width: 190px;
}

label {
    display: flex;
    align-items: center;
}

.forumSubmit>h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

textarea {
    max-width: 454px;
    max-height: 110px;
    min-width: 130px;
    min-height: 20px;
}

.slideshowHolder {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.active {
    background-color: #717171;
}

.aboutMeBox {
    display: flex;
    justify-content: center;
}

.pdfResume {
    width: 30vw;
    height: 58vh;
}

.pdf {
    width: 30vw;
    height: 58vh;
}

.resumeRecreation {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    border: 1px solid white;
}

.rRTitle {
    display: flex;
    justify-content: center;
    padding: 15px;
}

ul {
    list-style-type: none;
}

.rRTop {
    padding: 10px;
    background-color: #014213;
    width: 100%;
    border-bottom: 1px white solid;
}

.rRLeft {

    display: flex;
    flex-direction: column;
    width: 40%;
}

.rRLBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 65%;
    padding: 10px;
    height: 60.4%;
    background-color: #242424;
}



.rRLTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 65%;
    padding: 10px;
    height: 65%;
    background-color: #424242;
    border-bottom: 1px white solid;
}

.rRLClovis>h4,
.rRLCart>h4,
.rRRExperience>h4 {
    font-size: 1.1em;
}

.rRRight {
    padding: 10px;
    width: 60%;
    border-left: 1px white solid;
}

button:hover {
    border: solid 3px rgb(144, 0, 255);
}

.waveEffect {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    background-size: contain;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 4px black;
}

.imageDisplay>img {
    height: 42vh;
    width: 19vw;
}

.wholeImageDisplay {
    display: flex;
}


.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* three way slider */

.slidingHolder {
    display: flex;
    width: 1035px;
    height: 581px;
}

.wrapper {
    width: 1035px;
    height: 581px;
    max-height: 100vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
}

.bottom,
.middle,
.top {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    img {
        height: 100%;
    }
}

.top {
    width: 125px;
}

.scroller {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.9;
    transition: opacity 0.12s ease-in-out;
    pointer-events: auto;
    cursor: pointer;
    box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}

.scroller-middle {
    margin-top: 25px;
}

.scroller-top {
    margin-top: -25px;
}


.scroller:hover {
    opacity: 1;
}

.scrolling {
    pointer-events: none;
    opacity: 1;
    z-index: 1;
}

.scroller__keeper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 7px;
}

.scroller:before,
.scroller:after {
    content: " ";
    display: block;
    width: 7px;
    height: 9999px;
    position: absolute;
    left: 50%;
    margin-left: -3.5px;
    z-index: 30;
    transition: 0.1s;
    box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}

.scroller:before {
    top: 49px;
}

.scroller:after {
    bottom: 49px;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller-middle>.scroller__keeper {
    border: 5px solid #000000;
}

.scroller-middle:before,
.scroller-middle:after {
    background: #d3d3d3;
}

.scroller-top>.scroller__keeper {
    border: 5px solid #000000;
}

.scroller-top:before,
.scroller-top:after {
    background: #d3d3d3;
}



@media (width <=1100px) {
    .wrapper {
        width: 935px;
        height: 481px;
        left: 55%;
        top: 50%;

    }

    .slidingHolder {
        width: 690px;
    }

    main {
        width: 85%;
    }

    .programmingSkillBox>.buttonBox>button,
    .gameDesignSkillBox>.buttonBox>button {
        width: 13vw;
    }

    .skillBox {
        width: 90%;
    }

    .thankYouButtons {
        height: 20vh;
        width: 35vw;
    }

    .pdfResume {
        display: none;
    }
}

@media (width <=930px) {


    .wrapper {
        width: 835px;
        height: 381px;
        left: 52%;
        top: 50%;
    }
}

@media (width <=800px) {

    .programmingSkillBox>.buttonBox>button,
    .gameDesignSkillBox>.buttonBox>button,
    .writingSkillBox>.buttonBox>button {
        width: 15vw;
    }

    .thankYouButtons {
        height: 20vh;
        width: 55%;
    }

    .thankYouButtons>button {
        width: 16vw;
    }

}

@media (width <=667px) {
    .textBox {
        width: 55%;
    }

    .JPABox>.imageBox,
    .EECUBox>.imageBox,
    .KnightBox>.imageBox,
    .DinoBox>.imageBox {
        width: 100%;
        height: 100%;
    }

    .programmingSkillBox>.buttonBox>button,
    .gameDesignSkillBox>.buttonBox>button,
    .writingSkillBox>.buttonBox>button {
        width: 20vw;
    }

    .thankYouButtons>button {
        width: 20vw;
    }

    header{
        width: 100%;
    }
    .headerButton {
        width: 100%;
    }

    .bottomHeaderButtons,
    .bottomHeaderButtons {
        width: 100%;
    }
 .myLogo {
        display: none;
    }
    .bottomHeaderButtons>button,
    .topHeaderButtons>button {
        width: 50%;
        scale: .7;

    } .textBox {
        width: 75%;
    }
    .programmingSkillBox>.buttonBox>button,
    .gameDesignSkillBox>.buttonBox>button,
    .writingSkillBox>.buttonBox>button {
        width: 36vw;
    }


   

    .writingSkillBox {
        width: 102%;
    }

    .buttonBox {
        display: flex;
        margin-top: 10px;
    }

    .writingExampleReady,
    .writingExampleLouie {
        width: 150%;
    }

}

@media (width <=430px) {
    body {
        width: 100%;
    }

    main {
        width: 100%;

    }

    .twobox,
    .twoboxRev {
        flex-direction: column;
    }


    .wrapper {
        left: 50%;
        width: 656px;
    }

    .gDWE {
        display: none
    }

    header {
        width: 100%;
    }

    p {
        font-size: smaller;
    }
    .textBox {
        width: 55%;
    }
   

    .bottomHeaderButtons>button,
    .topHeaderButtons>button {
        width: 50%;
        scale: .7;

    }

    .noncollapse {
        display: none;
    }

    .headerButton {
        width: 100%;
    }

    .bottomHeaderButtons,
    .bottomHeaderButtons {
        width: 100%;
    }


    .JPABox>.imageBox,
    .EECUBox>.imageBox,
    .KnightBox>.imageBox,
    .DinoBox>.imageBox {
        display: flex;
        justify-content: center;
    }
    .JPABox>.imageBox>img,
    .EECUBox>.imageBox>img,
    .KnightBox>.imageBox>img,
    .DinoBox>.imageBox>img {
        width: 100%;
        height: 100%;
    }
    .JPABox>.textBox,
    .EECUBox>.textBox,
    .KnightBox>.textBox,
    .DinoBox>.textBox {
        width: 85%;
        height: 85%;
    }
    .thankYou>.textBox{
        width: 85%;
    }
}