* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;  
  align-items: center;
    
   color:white;
    background-color: black;  
}

main{
    display: flex;
    flex-direction: column;   
    align-items: center; 
}

.twobox{
display: flex;
}
